// Colors
$primary: #ea9191 !default;
$primary-light: #f7e9e9 !default;
$primary-dark: #f89090 !default;

$secondary: #676767 !default;
$secondary-dark: #fdd8d8 !default;

$default: #f3dddd !default;
$default-dark: #fff !default;
