// Colors
$primary: #ea9191 !default;
$primary-light: #cde1f8 !default;
$primary-dark: #f89090 !default;

$secondary: #1e1e1e !default;
$secondary-dark: #676767 !default;

$default: #f3dddd !default;
$default-dark: #fff !default;
